{% extends "base.html" %} {% block content %}
{% include 'navbar.html' %}


<div class="py-4 mx-auto text-center center" style="font-family:conthrax; margin-top: 15vh;">
    <h1>Leave me a message</h1>
    <div class="form-group" >
        <form method="post" action="contact" class="container rounded" style="background-color: rgba(0,0,0, 0.4); border-radius:50px; padding: 10px;  width: 400px;">
                <label class="form-label" style="justify:right;"style="width: 350px">Your E-mail address</label>
                <input class="form-text" type="email" id="email" name="email" style="width: 250px;">
                <label class="form-label" style="width: 350px">Subject</label>
                <input class="form-text" type="text" id="subject" name="subject" style="width: 250px;">
                <label class="form-label" style="width: 350px;">Message</label>
                <textarea name=message id="mytextarea" style="width: 350px; height: 200px;"></textarea>
                <input class="btn btn-primary" type="submit" id="submit" name="sumbit">

        </form>
    </div>
    {% if error %}
    <p class="form-label" id="errors" style="color: red;">{{ error }}</p>
    {% endif %}
</div>


{% endblock %}