{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<div class="container">
<div style="font-family: conthrax; margin-top:50px;" class="text-center w-100 w-lg-50 mx-auto">
        <h1 style="font-family: Forresten;" class="example">DRA Digital</h1>
        <h2 style="font-family: Forresten;">Welcome</h2>
        <div class="container" style="width:50vh; margin-top:5vh; margin-bottom:5vh; padding:50px; background-color: rgba(0,0,0, 0.4); border-radius:50px;">
            <h4>Web development</h4>
            <h4>Python</h4>
            <h4>Data Analytics</h4>
            <h4>Machine Learning</h4>
        </div>
        <div>
        <a style="margin:10px;" href="/aboutme" class="btn btn-lg btn-light fw-bold">About Me</a>
        <br>
        <a style="margin:10px;" href="/contact" class="btn btn-lg btn-secondary fw-bold">Contact Me</a>
        </div>
    
</div>
</div>




{% endblock %}