{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<div class="container">
<div class="text-center w-100 w-lg-50 mx-auto">
        <h1>Devan Aptaker</h1>
        <h4>Python Developer</h4>
        <div class="d-flex flex-wrap justify-content-center gap-2 py-3">
          {% for tech in ['git', 'gunicorn', 'nginx', 'pandas', 'numpy', 'matplotlib', 'scikit-learn', 'bootstrap', 'flask', 'flask_login', 'werkzeug', 'jinja', 'wtforms', 'sqlite', 'sqlalchemy', 'postgresql', 'tkinter', 'pysimplegui', 'pillow', 'smtp', 'turtle', 'os', 'csv', 'json', 'requests', 'beautifulsoup', 'selenium'] %}
            <span class="badge bg-secondary-subtle">{{ tech }}</span>
          {% endfor %}
        </div>
        <p class="lead">
            <a href="contact" class="btn btn-lg btn-secondary fw-bold">Contact</a>
        </p>
</div>
</div>


{% include 'footer.html' %}

{% endblock %}