{% extends "base.html" %} {% block content %}

<body>
<div class="py-4 mx-auto text-center">
    <form method="post" action="login" class="container border rounded" style="padding: 10px; margin: 20%;">
        <div class="row">
            <div class="col">
            <label class="form-label" style="justify:right;">username</label>
            </div>
            <div class="col">
            <input class="form-text" type="text" id="username" name="username">
            </div>
        </div>
        <div class="row">
            <div class="col">
            <label class="form-label">password</label>
            </div>
            <div class="col">
            <input class="form-text" type="password" id="password" name="password">
            </div>
        </div>

        <input class="btn btn-primary" type="submit" id="submit" name="sumbit">
    </form>
    <a class=btn href="/register">Register</a>
</div>
</body>
{% include 'footer.html' %}

{% endblock %}