{% extends "base.html" %} {% block content %}
{% include 'navbar.html' %}

<div class="py-4 mx-auto text-center center" style="margin-top: 25vh;">
    <h1>Log In</h1>
    <form method="post" action="login" class="container border rounded" style="padding: 10px;  width: 325px;">
        <table>
            <tr>
                <td>
                <label class="form-label" style="justify:right;">username</label>
                </td>
                <td>
                <input class="form-text" type="text" id="username" name="username">
                </td>
            </tr>
            <tr>
                <td>
                <label class="form-label">password</label>
                </td>
                <td>
                <input class="form-text" type="password" id="password" name="password">
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                <input class="btn btn-primary" type="submit" id="submit" name="sumbit">
                </td>
            </tr>
        </table>
    </form>
    {% if error %}
    <p class="form-label" id="errors" style="color: red;">{{ error }}</p>
    {% endif %}
    <a class=btn href="/register">Register</a>
</div>

{% include 'footer.html' %}

{% endblock %}